html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.border-bottomC {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.657);
}

#__next {
  background-color: #4a4a4a; 
     
}

/* header */
.search-bar {
  display: flex;
  text-align-last: center;
  align-items: center;
}

.search-bar > * {
  padding: 0;
  margin: 0;
  margin-left: 5px;
  color: white;
}

.search-bar svg {
  height: 35px;
  width: 35px;
}

.avatar svg {
  height: 1000px;
}


.lightTxt button {
  background-color:rgb(155, 188, 233)
}

:root {
  --space: 1.5em 0;
  --space: 2em 0;
}

.bg-lightblue {
  background-color: rgb(132, 185, 255) !important;
}


/* html, body {
  font-family: d
} */

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.Site-content:after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}

.float-right-custom {
  position: absolute;
  right: 0;
}

.float-left-custom {
  position: absolute;
  left: 0;
}

.mr-3 {
  margin-right: 3em !important; 
}


.slick-prev:before, .slick-next:before {
  color: rgb(155, 188, 233) !important;
}



@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 25px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-2 {
    padding-left: 2em !important;
}