/* header */
.search-bar {
    display: flex;
    text-align-last: center;
    align-items: center;
}
  
.search-bar > * {
  padding: 0;
  margin: 0;
  margin-left: 5px;
  color: white;
}

.search-bar svg {
  height: 30px;
  width: 30px;
}

.avatar svg {
  height: 1000px;
}


.lightTxt button {
  background-color:rgb(155, 188, 233)
}

.search-dropdown button {
  background-color: rgb(132, 185, 255);
  color: rgb(255, 255, 255);
  text-shadow: 0 0 15px black;
  border-color: #0d6efd
}

.hisearch {
  color: rgb(132, 185, 255);
}

.hisearch:hover {
  color: rgb(132, 185, 255);
}
  